/*@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600");*/
html {
  background: black;
  color: #f8f8f8;
  font: 100 0.8em "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  letter-spacing: -0.4px;
}
body {
  text-align: center;
}
h2,
h1 {
  margin-left: 10px;
  text-align: left;
  line-height: 10px;
  margin-top: 0px;
  margin-bottom: -6px;
  font-weight: 1000;
  font-size: 20px;
  letter-spacing: -2px;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
}
hr {
  line-height: -10px;
}
.label {
  float: left;
}
#wrapper {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 5px;
  background: #1b2026;
  width: 1014px;
  height: 758px;
  text-align: left;
  display: inline-block;
}
#bacteriaDiv {
  margin: 0;
  width: 610px;
  display: inline-block;
}
#bacteriaDiv #title-wrapper {
  letter-spacing: -7px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 60px;
}
#bacteriaDiv #title-wrapper span {
  display: inline-block;
  width: 100%;
}
#bacteriaDiv #title-wrapper #title {
  font-size: 60px;
  line-height: 50px;
}
#bacteriaDiv #title-wrapper #author {
  margin-left: 0px;
  margin-top: -5px;
  left: 4px;
  font-size: 19px;
  letter-spacing: -2px;
  text-shadow: 0px 0px 10px #ffffff;
}
#bacteriaDiv #drawCanvas {
  margin: 0px;
  position: relative;
  width: 610px;
  height: 610px;
  overflow: visible;
  border-radius: 100%;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
}
#gallery {
  display: inline-block;
  overflow: hidden;
  border: 1px solid white;
  width: 400px;
  padding: 20px;
  height: 500px;
  background: #1d2835;
  vertical-align: top;
}
#gallery #grid .gimg {
  display: inline-block;
  background-size: contain;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 8px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
#gallery #grid .gimg:hover {
  box-shadow: 0 0 0 1px white;
}
#controls-wrapper {
  margin: 0;
  display: inline-block;
  width: 390px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 60px;
  padding: 5px;
  vertical-align: top;
}
#controls-wrapper .parameters-group-header {
  margin-top: 15px;
  margin-bottom: 10px;
}
#controls-wrapper .parameter {
  text-align: center;
  margin: 0;
  padding: 3px;
  margin-bottom: 4px;
  font-size: 14px;
}
#controls-wrapper .parameter .parameter-name {
  display: inline-block;
  font-weight: bolder;
  width: 100px;
  vertical-align: top;
}
#controls-wrapper .parameter .parameter-min,
#controls-wrapper .parameter .parameter-max {
  display: inline-block;
  width: 50px;
}
#controls-wrapper .parameter .parameter-min {
  text-align: right;
}
#controls-wrapper .parameter .parameter-max {
  text-align: left;
}
#controls-wrapper .parameter input[type='range'] {
  display: inline-block;
  -webkit-appearance: none !important;
  height: 1px;
  width: 160px;
  background: rgba(255, 255, 255, 0.5);
  margin: 5px;
  vertical-align: bottom;
  cursor: pointer;
}
#controls-wrapper .parameter input[type='range']:after,
#controls-wrapper .parameter input[type='range']:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 17px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: -8px;
}
#controls-wrapper .parameter input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #3e4956;
  height: 15px;
  width: 15px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #FFFFFF;
}
#controls-wrapper .parameter .minicolors-theme-picker {
  margin-top: 5px;
  display: inline-block;
  width: 160px;
  text-align: left;
}
#controls-wrapper .parameter .minicolors-theme-picker .minicolors-panel {
  border: none;
  background-color: transparent;
}
#controls-wrapper .parameter .minicolors-theme-picker .minicolors-panel .minicolors-grid .minicolors-grid-inner {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
#controls-wrapper .parameter .minicolors-theme-picker .minicolors-panel .minicolors-slider,
#controls-wrapper .parameter .minicolors-theme-picker .minicolors-panel .minicolors-opacity-slider {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
#controls-wrapper .parameter .minicolors-theme-picker .minicolors-panel .minicolors-slider .minicolors-picker,
#controls-wrapper .parameter .minicolors-theme-picker .minicolors-panel .minicolors-opacity-slider .minicolors-picker {
  background: #3e4956;
  border: none;
  box-shadow: 0 0 0 1px white;
  width: 24px;
  height: 8px;
  margin-left: -2px;
  margin-top: -4px;
  border-radius: 8px;
}
#controls-wrapper .parameter .minicolors-theme-picker .minicolors-panel .minicolors-slider {
  margin-left: 2px;
}
#controls-wrapper .parameter .minicolors-theme-picker .minicolors-panel .minicolors-opacity-slider {
  margin-left: 20px;
}
.button {
  text-align: center;
  font-size: 20;
  cursor: pointer;
  background: #6f839a;
  padding: 10px;
  display: inline-block;
}
.button:hover {
  background: #7eab55;
}
/*BUTTONS*/
#buttonDiv {
  display: inline-block;
  text-align: center;
  width: 100%;
}
#buttonDiv h3 {
  margin: 5px;
}
#buttonDiv #seed-position {
  text-align: center;
  display: inline-block;
  width: 330px;
  margin-left: 10px;
  padding: 5px;
}
#buttonDiv #seed-position .switch {
  margin: 5px;
  color: #6f839a;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  background-color: #3e4956;
  border-radius: 100%;
  line-height: 50px;
  height: 50px;
  width: 50px;
  font-size: 15px;
}
#buttonDiv #seed-position input[type="radio"]:checked + .switch--on {
  color: #fff;
  background-color: #7eab55;
}
/*---TABS-----*/
